# Core data tools
python-dotenv
pandas
requests
openpyxl
rapidfuzz
thefuzz
duckdb
dbt-duckdb
apache-airflow[celery,postgres,http]==2.9.2

# possible dependencies
# polars
# soda-core-duckdb
    # need to research this one