# Core data tools
python-dotenv
requests
openpyxl
rapidfuzz
thefuzz
duckdb
dbt-duckdb
apache-airflow[celery,postgres,http]==2.9.2

# possibly
# pandas
# polars
# soda-core-duckdb
    # need to research this one