python-dotenv
pandas
polars
requests
openpyxl
rapidfuzz
thefuzz
duckdb
dbt-duckdb
apache-airflow[celery,postgres,http]==2.9.2
pip-tools
pyarrow

# possible dependencies
# soda-core-duckdb
    # need to research this one